#wrapper {
    margin-top: 40px;
    text-align: center;
}

#content-list {
    margin-top: 40px;
    text-align: left;
    display: inline-block;
    width: 50%;
}

a {
    margin-top: 40px;
    text-decoration-style: none;
}
