@import url('https://fonts.googleapis.com/css?family=Asul:700|Open+Sans|Quicksand:400');

html {
    color: #445566;
    border-top:    solid 20px #DA4167;
    border-bottom: solid 20px #325E8E;
}

body {
    background-color: #F8F8F0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;    
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: "Asul", serif;
    font-weight: normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

p {
    line-height: 170%;
}

.text-center {
    text-align:  center;
}

#main-home-container {
    position: absolute;
    left: 50%;
    top: 5%;
}

#content {
    position: relative;
    left: -50%;
}

#intro-div {
    position: relative;
    width: 400px;
}

a {
    text-decoration: none;
}

.nav-links {
    font-family: 'Quicksand', sans-serif;
    color: #DA4167;
    margin: 10px;
}
