body {
    position: relative;
    /*min-height: 100%;*/
}
#wrapper {
    margin-top: 40px;
    text-align: center;
}

.info {
    text-align: left;
}

.main-content {
    margin: 40px;
}

.post-title {
    margin: 15px;
}

#intro-div-post {
    display: inline-block;
    max-width: 100%;
    width: 50%;
    position: relative;
    margin-bottom: 100px;
}

.subtitle {
    color: #DA4167;
    text-align: center;
    margin-bottom: 25px;
}

h2 {
    font-size: 36px;
}

li {
    list-style-type: none;
    color: #D095A3;
}

@media screen and (max-width: 700px) {
    #intro-div-post {
        width: 85%;
    }
}

footer {
    position: absolute;
    text-align: center;
    bottom:0;
    width: 100%;
    margin-top: 0;
    color: #F8F8F0;
    background-color: #325E8E;
}

.footer-content {
    margin: 20px;
    text-align: center;
    display: inline-block;
    width: 80%;
    position: relative;
    overflow: hidden;
}
.footer-content a {
    color: #F8F8F0;
    margin: 10px 20px;
}

@media screen and (max-width: 700px) {
    .footer-content a {
        font-size: 20px;
    }
}
