<div id="wrapper">
    <h1>The Reveries</h1>

    <div id="content-list">
        $partial("templates/post-list.html")$
    </div>
</div>
<footer>
    <div class="footer-content">
        <div class="footer-links">
            <ul>
                <li>HOME</li>
                <li>WRITING</li>
                <li>GITHUB</li>
                <li>CONTACT</li>
            </ul>
        </div>
        <h2 style="color:#F8F8F0">About Me</h2>
        <br />
        <p>
            Hey there! I'm Venkatraman, and I love to <b>code</b>! This is just some space for me to write about whatever I'm interested in, and other shower thoughts. I like web development and functional programming. I am also an avid space geek.
        </p>
</footer>
