<div id="wrapper">  
    <div class="info" id="intro-div-post">
        <h1 class="text-center post-title">$title$</h1>
        <p class="subtitle">Posted on $date$</p>
        $body$
        <br />
        <div style="text-align: center">
            <a href="/archive.html">Back</a>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">
        <a href="/"><span>HOME</span></a>
        <a href="/archive.html"><span>WRITING</span></a>
        <a href="https://github.com/venkat24"><span>GITHUB</span></a>
        <a href="http://venkatraman.me"><span>PORTFOLIO</span></a>
    </div>
</footer>
